<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="projectTitle">Project Template</title>

  <!-- Style -->
  <link rel="stylesheet" href=".eternal/css/style.css">

  <!-- Scripts -->
  <script rel="modulepreload" src=".eternal/js/vue/vue.global.js"></script>
  <script rel="modulepreload" src=".eternal/js/component.js"></script>
  <script rel="modulepreload" src=".eternal/js/render.js"></script>

  <!-- Editor Scripts -->
  <script rel="modulepreload" src=".eternal/js/editor/notifications.js"></script>
  <script rel="modulepreload" src=".eternal/js/editor/jsoneditor.js"></script>
  <script rel="modulepreload" src=".eternal/js/editor/easymde.min.js"></script>

  <staticcontent>
    <clientcache cachecontrolmode="UseMaxAge" cachecontrolmaxage="365.00:00:00" />
  </staticcontent>
</head>

<body>
  <div id="app" v-cloak>

    <div class="d-flex flex-column center">

      <!-- Page Header -->
      <div id="header" class="row">
        <header-card :title="projectTitle" :subtitle="projectSubtitle" :btn-list="headerNavBtn" @read-page="gotoPage" />
      </div>

      <!-- v-if="isElectronCheck" -->

      <!-- Editor -->
      <div class="row editor-div" v-if="isElectron">
        <editor :passed-editor-data="editorData" :urlpaths="urlpaths" :parents-list="parentlists" :template-list="templateList" @save-content="saveContent" :is-new-page="isNewPage" :dir="dir" @delete-page="deletePageConfirm" @update-project="updateProject" @set-page-as-template="setPageAsTemplate"
          @new-page="newPage" @history-previous='historyPrevious' />
      </div>

      <!-- Page Card -->
      <div class="row card card--visual mb-5" id="page-content">
        <!-- Content -->
        <h1 class="page-title d-flex justify-content-between" v-cloak>{{ pageTitle }}
          <toggle v-show="pageData.createSpoilers === true" @toggled="areaToggleHandler" />
        </h1>
        <page-content :page-contents="pageContents" :page-data="pageData" :dir="dir" :area-toggle="areaToggle" @read-page="gotoPage">
      </div>

    </div>
  </div>

  <script>
    startPage()
  </script>

</body>

</html>