@mixin font {
  font-family: $font-family;
  color: $font-color-dark;
  font-size: small ;
} 

// BUTTON
.btn {
  width: max-content;
  padding: 0.5em 1.2em;
  margin: 0.2em;
  border: none;
  cursor: pointer;
  background-color: transparent;
  @include font();
}

.btn-primary {
  text-decoration: none;
  transition-duration: 0.4s;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

.btn-secondary {
  text-decoration: none;
  transition-duration: 0.4s;
  padding: 0.2em 0.2em;
  border-radius: 0.2em;
}

.btn--link {
  color: $font-color-primary;
  background-color: transparent;
  &:hover {
    background-color: $color-primary;
    color: $font-color-light;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.btn--color-primary {
  color: $font-color-light;
  background-color: $color-primary;
  &:hover {
    background-color: lighten($color-primary, 10%);
    color: $font-color-light;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.btn--color-secondary {
  color: $font-color-dark;
  background-color: $color-light;
  &:hover {
    background-color: lighten($color-primary, 10%);
    color: $font-color-light;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.btn--color-tertiary {
  color: $font-color-primary;
  background-color: transparent;
  &:hover {
    background-color: lighten($color-primary, 10%);
    color: $font-color-light;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

}


.btn--color-tab {
  color: $font-color-dark;
  font-weight: bold;
  padding: 0.1em 0.5em;
}

.btn--transparent {
  background-color: transparent;
}

.btn--active {
  color: $btn-primary !important;
  &:hover {
    color: white !important;
  }
}

.btn--active2 {
  background-color: darken($color-primary, 30%);
  color: $font-color-light;
}


.red {
  color: $color-error;
  &:hover {
    background-color: $color-error;
  } 
}


