// BUTTON
.btn {
  width: fit-content;
  padding: 0.5em 1.2em;
  margin: 0.2em;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-primary {
  // Colors
  color: $btn-primary--font;
  background-color: $btn-primary;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  line-height: 1.25;
  letter-spacing: .08em;
  transition: background-color .6s ease;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, .1);
    border-radius: 100%;
    transition: width .2s ease, height .3s ease;
  }
  &:focus,
  &:hover {
    color: $btn-primary--font;
    background-color: darken($btn-primary, $btn-primary--darken);
    outline: none;
  }
}

.btn-secondary {
  text-decoration: none;
  transition-duration: 0.4s;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

.btn--color-secondary {
  color: $font-color-primary;
  &:hover {
    background-color: $color-primary;
    color: $font-color-light;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.btn--color-tab {
  color: $font-color-dark;
  font-weight: bold;
  padding: 0.1em 0.5em;
}

.btn--transparent {
  background-color: transparent;
}

.btn--active {
  color: $btn-primary;
}



