.input-text {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  label {
      margin-right: 0.5em;
  }
  td {
    width: 10em;
    label {
      width: max-content;
    }
  }
  input {
    border-radius: 0.2em;
    font-size: small;
  }
}

.input-text--visual {
  input {
    border: 1px solid $color-light;
  }
}