.profile-box {
  background-color: $BG2;
  width: 18em;
  padding: 0.5em;
  margin-left: 1em;
  border-radius: 0.5em;
  // display: grid;
  // place-items: center;
  table {
    font-size: smaller;
    color: #2e2e2e;
    tr {
      border-color: $BG2;
    }
  }
  &::after {
    content: " " !important;
    display: block !important;
    height: 0 !important;
    clear: both !important;
  }
  .profile-cell {
    padding: 0.2em 0.2em !important;
    line-height: 1.4em;
  }
  .profile-category {
    background-color: $Color1 !important;
    width: 100%;
    border-radius: 0.3em;
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding: 0em 3em;
  }
}

.profile-title {
  background-color: $Color1;
  width: 100%;
  display: inline-block;
  border-radius: 0.3em;
  color: white;
  text-align: center;
  padding: 0.5em 2em;
}

.profile-image {
  border-radius: 0.3em;
  padding: 0.5em;
  img {
    max-height: 40em;
  }
}

.tab-active {
  color: $Color1;
}

.profile-image-btn {
  transition-duration: 0.4s;
  padding: 0.1em 0.5em;
  border-radius: 0em;
  font-size: smaller;
  font-weight: bold;
  min-width: 5em;
  &:hover {
    color: $Color1;
    text-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  &:focus {
    outline: none;
    box-shadow: none;
    background-color: none;
  }
}

