.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0.5em;
    opacity: 0.6;
    transition: 0.4s;
    &:hover {
        opacity: 1;
    }
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    input:checked+.slider {
        background-color: $Color1;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px $Color1;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(30px);
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $BG;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }

}




.tooltipStyle {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    transition: 0.3s;
}

.tooltipStyle .tooltipStyletext {
    visibility: hidden;
    width: 10em;
    background-color: #eb4034;
    color: #fff;
    text-align: center;
    border-radius: 0.2em;
    padding: 0.3em 1em;
    /* Position the tooltipStyle */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltipStyle:hover .tooltipStyletext {
    visibility: visible;
}
