
/* link margins */
.toc-H2 {
    margin-left: 1em;
}

.toc-H3 {
    margin-left: 2em;
}

.toc-H4 {
    margin-left: 3em;
}

.toc-H5 {
    margin-left: 4em;
}

.toc-H6 {
    margin-left: 5em;
}

/* box css */
.toc {
    background-color: $BG2;
    width:fit-content;
    height:fit-content;
    padding: 1em;
    margin-top: 0.3em;
    margin-bottom: 1.5em;
    border-radius: 0.5em;

    p {
        margin: 0em;
        text-align: center;
        padding: 0.2em 0.5em;
    
    }

    a {
        text-decoration: none;
        color: $Color1;
        transition-duration: 0.4s;
        padding: 0.2em 0.5em;
        border-radius: 0.2em;

        &:hover {
            background-color: $Color1;
            color: $FontColor2;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
        
    }
}


/* link to top of page */
.arrow-up {
    font-size: 0.5em !important;
    text-decoration: none;
    color: $Color1;
}

.h {
    margin: 0em !important;
}