// Font Sizes
.font--smaller {
  font-size: smaller;
}


.font--small {
  font-size: small;
}

.font--medium {
  font-size: medium;
}

.font--large {
  font-size: large;
}

.font--larger {
  font-size: larger;
}

.font--25 {
  font-size: 2.5em;
}

// Font allignment
.text-left {
  text-align: left;
}

// Font Color
.font--dark {
  color: $font-color-dark;
}

.font--light {
  color: $font-color-light;
}

// weight
.font--w-bold {
  font-weight: 400;
}

// Width
.width-100 {
  width: 100%;
}


// Allignment
.center {
  display: grid;
  place-items: center;
}

.float-start {
  float: left !important;
}

.float-end {
  float: right !important;
}

.float-none {
  float: none !important;
}



// Appearance
.hide {
  display: none !important;
  transition: display 0.5s ease !important;
}

.space {
  padding-bottom: 1em !important;
  margin: 0em;
}

.bg--primary {
  background-color: $color-primary;
  color: $color-light;
}







// Others

.glass-container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.glass-container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 1);
  filter: blur(10px);
  margin: -20px;
}


.outline-primary {
  &:focus {
    outline: 2px solid $color-primary;
  }
}
  