// Font Sizes
.font--smaller {
  font-size: smaller;
}


.font--small {
  font-size: small;
}

.font--medium {
  font-size: medium;
}

.font--large {
  font-size: large;
}

.font--larger {
  font-size: larger;
}

// Font Color
.font--dark {
  color: $font-color-dark;
}

// weight
.font--w-bold {
  font-weight: 400;
}


// Allignment
.center {
  display: grid;
  place-items: center;
}

.float-start {
  float: left !important;
}

.float-end {
  float: right !important;
}

.float-none {
  float: none !important;
}



// Appearance
.hide {
  display: none !important;
  transition: display 0.5s ease !important;
}

.space {
  padding-bottom: 1em !important;
  margin: 0em;
}