.toggle {
  cursor: pointer;
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  outline: 0;
  top: 0;
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  &:checked {
    &:after {
      transform: translatex(20px);
    }
  }
}

.toggle-visual {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-light;
  transition: all .2s ease;
  &:after {
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, .2);
    transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
  }
  &:checked {
    background-color: lighten($color-primary, 30);
  }
  &:hover {
    background-color: darken($color-light, 10);
    &:checked {
      background-color: $color-primary;
    }
    transition: background-color 0.5s ease;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  width: max-content;
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.tooltiptext {
  font-size: small;
  position: absolute;
  z-index: 9;
  visibility: hidden;
  top: -5px;
  right: 105%;

}

.bg-primary {
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  margin-right: 0.5em;
  background-color: $color-primary;
  color: $color-light;
  font-family: $font-family;
}