<!-- File Data -->
<script>
  window.pageData = {
    "title": "Character",
    "urlName": "character-template",
    "parent": "",
    "tags": "",
    "description": "Stuff stuff",
    "createSpoilers": true,
    "tabs": {
      "spoiler-overview": {
        "name": "Overview",
        "area": "spoiler"
      },
      "nonspoiler-overview": {
        "name": "Default",
        "area": "nonspoiler"
      }
    },
    "disabledProfileData": [],
    "urlPath": "content/"
  }

  window.profileData = {
    "nonspoiler-overview": {
      "Title": "Character Name",
      "Image": {
        "Portrait": "assets/images/default_profile.png"
      },
      "Content": {
        "Desc": {
          "Full Name": "Character Name V. Full",
          "Alias": [
            "Strong Character",
            "Human Chaacter",
            "Char 2"
          ]
        },
        "Biography": {
          "Race": "Human",
          "Birthday": "",
          "Age": "",
          "Gender": "",
          "Height": "168 cm",
          "Weight": "58 kg",
          "Hair Color": "",
          "Eye Color": "",
          "Skin Color": "",
          "Blood Type": ""
        },
        "Power": {
          "Rank": "1st Awakener",
          "Ability": [
            "Ability A"
          ],
          "Passive Ability": [
            "Ability B"
          ]
        },
        "Status": {
          "Status": "Alive",
          "Birthplace": "Desteria, Shanty Town",
          "Family": [
            " (Mother)",
            " (Father)",
            " (Little Brother)"
          ]
        }
      }
    },
    "spoiler-overview": {
      "Title": "Character Name",
      "Image": {
        "Portrait": "assets/images/default_profile.png"
      },
      "Content": {
        "Desc": {
          "Full Name": "Character Name V. Full",
          "Alias": [
            "Strong Character",
            "Human Chaacter",
            "Char 2"
          ]
        },
        "Biography": {
          "Race": "Human",
          "Birthday": "",
          "Age": "",
          "Gender": "",
          "Height": "168 cm",
          "Weight": "58 kg",
          "Hair Color": "",
          "Eye Color": "",
          "Skin Color": "",
          "Blood Type": ""
        },
        "Power": {
          "Rank": "1st Awakener",
          "Ability": [
            "Ability A"
          ],
          "Passive Ability": [
            "Ability B"
          ]
        },
        "Status": {
          "Status": "Alive",
          "Birthplace": "Desteria, Shanty Town",
          "Family": [
            " (Mother)",
            " (Father)",
            " (Little Brother)"
          ]
        }
      }
    }
  }
</script>

<!-- File Content -->

<div id="spoiler">
  <div id="spoiler-overview" class="page-tab">
    Description

    [[toc]]

    # Appearance
    Description
    
    # Personality
    Description

    # Motivation
    Description

    # History
    Description

    # Abilities
    Description

    ## Active
    Text

    ## Passive
    Text

    # Equipment
    Description

    # Trivia
    Description

    # Gallery
    Description

  </div>
</div>
<div id="nonspoiler">
  <div id="nonspoiler-overview" class="page-tab">
    Description

    [[toc]]

    # Appearance
    Description
    
    # Personality
    Description

    # Motivation
    Description

    # History
    Description

    # Abilities
    Description

    ## Active
    Text

    ## Passive
    Text

    # Equipment
    Description

    # Trivia
    Description

    # Gallery
    Description

  </div>
</div>